<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>404 - Not Found</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
        <link th:rel="stylesheet" th:href="@{/css/common.css}"/>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div th:insert="fragments/header-error :: header-error"></div>
        <div class="container jumbotron jumbotron-fluid">
            <h1 class="text-center"> Sorry, we couldn't find the page you were looking for.</h1>
            <br/>
            <div class="container text-center">
                <a class="btn btn-primary text-center" th:href="@{/}">Go Home</a>
            </div>
        </div>
        <div th:insert="fragments/footer :: footer"></div>
    </body>
</html>