/* use this file to fix fixed bottom footer from overlapping content */

html {
    min-height: calc(100vh - 58px);
    border-left: 58px solid #343a40;
    border-right: 58px solid #343a40;
    margin-bottom: 58px;
}

#auth-nav {
    margin-left: 58px;
    margin-right: 48px;
}

#footer {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    margin-top: 58px;
}

#add-recipe-button {
    min-width: 118px;
}

#login-img {
    background-image: url('../img/login-splash.jpg');
}

#register-img {
    background-image: url('../img/register-splash.jpg');
}

.login-splash {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-register-container {
    background-color: rgba(255,255,255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 25px;
}
