/* use this file to fix fixed bottom footer from overlapping content */

html {
    min-height: calc(100vh - 58px);
    border-left: 58px solid #343a40;
    border-right: 58px solid #343a40;
    margin-bottom: 58px;
}

#auth-nav {
    margin-left: 58px;
    margin-right: 48px;
}

#footer {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    margin-top: 58px;
}

#add-recipe-button {
    min-width: 118px;
}