<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<h1>Add Recipe</h1>

<form th:action="@{/createRecipe}" th:object="${recipe}" method="post">
    <p>Recipe Name: <input type="text" id="name" th:field="*{name}"></p>
    <p>Description: <input type="text" id="description" th:field="*{description}"></p>
    <p>Prep Time: <input type="number" id="prepTime" th:field="*{prepTime}"></p>
    <p>Cook Time: <input type="number" id="cookTime" th:field="*{cookTime}"></p>
    <p>Servings: <input type="number" id="serving" th:field="*{serving}"></p>
    <input type="hidden" id="id" th:field="*{id}">
    <p><input type="submit" value="Add Recipe"></p>
</form>
</body>
</html>