<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body>
    <div id="main" th:insert="fragments/header-auth :: auth-header"></div>
    <h1 class="text-center mt-2">Add a Recipe</h1>
    <hr class="my-3"/>
    <div class="container-fluid">
        <form th:action="@{/createRecipe}" th:object="${recipe}" method="post">
            <h2>Add Recipe Information</h2>
            <div class="row jumbotron jumbotron-fluid">
                <div class="col">
                    <p class="">To add a new recipe, you must first specify the information for the recipe:</p>
                    <ul>
                        <li>Your recipe needs a catchy name where you and other users can find it easily.</li>
                        <li>Your recipe needs a good description so people following it know what they are in for.</li>
                        <li>Your recipe should specify an accurate prep and cook time for the recipe; time management is important!</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" class="form-control" id="name" name="name" autofocus="autofocus" required th:field="*{name}" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description: </label>
                        <textarea class="form-control" id="description" name="description" required th:field="*{description}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="category">Category: </label>
                        <br/>
                        <select id="category" name="category" required th:field="*{category}">
                            <!-- turn this into an enum for Recipe class and do a for each loop to list them -->
                            <option value="" selected>Select your option</option>
                            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.getDisplay()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prepTime">Prep Time: </label>
                        <input type="number" min="1" class="form-control" id="prepTime" name="prepTime" value="1" required th:field="*{prepTime}" />
                    </div>
                    <div class="form-group">
                        <label for="cookTime">Cook Time: </label>
                        <input type="number" min="1" class="form-control" id="cookTime" name="cookTime" value="1" required th:field="*{cookTime}" />
                    </div>
                    <div class="form-group">
                        <label for="serving">Serving: </label>
                        <input type="number" min="1" class="form-control" id="serving" name="serving" value="1" required th:field="*{serving}" />
                    </div>
                </div>
            </div>
            <hr class="my-3"/>
            <h2>Add Ingredients</h2>
            <div class="row jumbotron jumbotron-fluid">
                <div class="col">
                    <p class="">Now, we must include the ingredients to make your masterpiece!</p>
                    <ul>
                        <li>Enter ingredients on a separate line in the field below.</li>
                        <li>To ensure users can change serving size when viewing the recipe, enter ingredients in the following format: ex. 1 cup flour</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="form-group">
                        <label for="ingredients">Ingredients: </label>
                        <textarea rows="6" class="form-control" id="ingredients" name="ingredients" required placeholder="Put each ingredient on it's own line."></textarea>
                    </div>
                </div>
            </div>
            <hr class="my-3"/>
            <h2>Add Steps</h2>
            <div class="row jumbotron jumbotron-fluid">
                <div class="col">
                    <p class="">Let's show everyone interested in your recipe how to make it!</p>
                    <ul>
                        <li>Enter steps on a separate line in the field below, just like you did for ingredients.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="form-group">
                        <label for="steps">Steps: </label>
                        <textarea rows="6" class="form-control" id="steps" name="steps" required placeholder="Put each step on it's own line."></textarea>
                    </div>
                </div>
            </div>
            <hr class="my-3"/>
            <input type="hidden" id="id" name="id" th:field="*{id}">
            <div class="jumbotron jumbotron-fluid">
                <div class="row">
                    <div class="col-sm-4 mx-auto">
                        <h4 class="text-center">Make sure you double-check your creation!</h4>
                        <h5 class="text-center">When you are ready, you can submit.</h5>
                        <input type="submit" name="add-recipe" id="add-recipe" class="form-control btn btn-primary" value="Add Recipe"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>