<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Search Recipes</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
  <link th:rel="stylesheet" th:href="@{/css/common.css}"/>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div id="main" th:insert="fragments/header-auth :: auth-header"></div>
<h1 class="mt-2">Search for recipes</h1>

<form th:action="@{/recipes/search}">
  <label for="searchBar">Search</label>
  <input type="text" id="searchBar" name="query" required>
  <input type="submit" class="form-control btn btn-primary" value="Search Recipes"/>
</form>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>