<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Your Password</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/common.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body id="login-img" class="login-splash">
<div th:insert="fragments/header-anon :: header"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 login-register-container">
            <h1 class="text-center mt-2">Forgot Password</h1>
            <div style="display: none" id="sending-email">
                <h4 id="sending" class="text-center text-primary">Sending Email...</h4>
                <div id="loading" class="loading"></div>
            </div>
            <form id="form" th:action="@{/forgotpassword}" method="post">
                <div id="message" th:if="${message != null}">
                    <p class="text-danger text-center" th:text="${message}"></p>
                </div>
                <div id="confirmed" th:if="${confirmed != null}">
                    <p class="text-success text-center font-weight-bold" th:text="${confirmed}"></p>
                </div>
                <div th:if="${confirmed == null}">
                    <p id="enter-email" class="text-center">Please enter the email for your account.</p>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email here"
                               autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 mt-2">
                                <input type="submit" name="submit" id="submit" class="form-control btn btn-primary"
                                       value="Submit"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script>
    document.getElementById("submit").onclick = function() {
        document.getElementById("sending-email").style.display="block";
        document.getElementById("form").style.display="none";
    }
</script>
<script>
    document.getElementById("resend").onclick = function() {
        document.getElementById("sending-email").style.display="block";
        document.getElementById("form").style.display="none";
    }
</script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>